<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search Element</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search Element</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header>
      <ion-item>
        <ion-label position="floating"> | Name | Symbol | Number | </ion-label>
        <ion-input [(ngModel)]="input_value_tab2" ></ion-input>
      </ion-item>
    </ion-header>
  </ion-card>
  <ion-button expand="full" shape="round" (click)="buttonClick(input_value_tab2)"> Ok </ion-button>
  <ion-card>
    <ion-item>
      <ion-label class="ion-text-wrap">
Name: {{ element_name_label_tab2 }}<br>
<br>
Symbol: {{ element_symbol_label_tab2 }}<br>
<br>
Atomic Number: {{ element_number_label_tab2 }}<br>
<br>
Atomic Mass: {{ element_mass_label_tab2 }}<br>
<br>
Density: {{ element_density_label_tab2 }}<br>
<br>
Summary: {{ element_summary_label_tab2 }}<br>
<br>
Category: {{ element_category_label_tab2 }}<br>
<br>
Phase: {{ element_phase_label_tab2 }}<br>
<br>
Appearance: {{ element_appearance_label_tab2 }}<br>
<br>
Discovered By: {{ element_discovered_by_label_tab2 }}<br>
<br>
Melt: {{ element_melt_label_tab2 }}<br>
<br>
Boil: {{ element_boil_label_tab2 }}<br>
<br>
Xpos: {{ element_xpos_label_tab2 }}<br>
<br>
Ypos: {{ element_ypos_label_tab2 }}
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>