<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Electron Distribution
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eletronic Distribution</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header>
      <ion-item>
        <ion-label color="primary" position="floating"> | Number | Name | Symbol | </ion-label>
        <ion-input [(ngModel)]="inputValue" ></ion-input>
      </ion-item>
    </ion-header>
  </ion-card>

  <ion-button expand="full" shape="round" (click)="buttonClick(inputValue)"> Ok </ion-button>
</ion-content>
