<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eletronic Distribution</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eletronic Distribution</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header>
      <ion-item>
        <ion-label position="floating"> | Name | Symbol | Number | </ion-label>
        <ion-input [(ngModel)]="input_value_tab1" ></ion-input>
      </ion-item>
    </ion-header>
  </ion-card>
  <ion-button expand="full" shape="round" (click)="buttonClick(input_value_tab1)"> Ok </ion-button>
  <ion-card>
    <ion-item>
      <ion-label class="ion-text-wrap">
Name: {{ element_name_label_tab1 }}<br>
<br>
Symbol: {{ element_symbol_label_tab1 }}<br>
<br>
Atomic Number: {{ element_number_label_tab1 }}<br>
<br>
Atomic Mass: {{ element_mass_label_tab1 }}<br>
<br>
Density: {{ element_density_label_tab1 }}<br>
<br>
Shells: {{ element_shells_label_tab1 }}<br>
<br>
Electron Configuration: {{ element_electron_configuration_label_tab1 }}
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
