<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header>

      <ion-item>
        <ion-label class="ion-text-wrap">
Depe-Mobile<br>
<br>
Project under development.<br>
All the features of Depe and a little more redone with Ionic.<br>
<br>
If you want to see the python version acess https://github.com/Mikael-R/Depe. Its documented in Brazilian Portuguese!<br>
<br>
Built With<br>
<br>
* Node.js - JavaScript runtime<br>
* Ionic - Framework<br>
* JavaScript - Programming language<br>
* TypeScript - Programming language<br>
* HTML - Markup language<br>
* CSS - Style sheet language<br>
<br>
Authors<br>
<br>
<b>Mikael</b>
        </ion-label>
      </ion-item>

    </ion-header>
  </ion-card>
</ion-content>
