<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header>

      <ion-item>
        <ion-label class="ion-text-wrap">
          Multi-line text that should wrap when it is too long
          to fit on one line in the item.
        </ion-label>
      </ion-item>

    </ion-header>
  </ion-card>
</ion-content>
