<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Info</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


	<ion-card>

		<ion-item>
			<ion-label class="ion-text-wrap">
				<h1>Depe-Mobile</h1>
				<br>
All Depe resources and a few other things, using the ionic framework.<br>
				<br>
The project has a json filled with information and is available in this repository. An incredible project and it is the database of this application, without them it would not be possible, thank you.<br>
				<br>
If you want to see the old python3 version acess https://github.com/Mikael-R/Depe. Its documented in Brazilian Portuguese!<br>
				<br>
				<h1>Built With</h1>
				<ul>
					<li>Node.js - JavaScript runtime</li>
					<li>Ionic - Framework</li>
					<li>JavaScript - Programming language</li>
					<li>TypeScript - Programming language</li>
					<li>HTML - Markup language</li>
					<li>CSS - Style sheet language</li>
				</ul>

				<h1>Author</h1>
				<br>
				<b>Mikael</b> - Initial Work
			</ion-label>
		</ion-item>

	</ion-card>
</ion-content>