<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eletronic Distribution</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Name | Symbol | Number</ion-label>
      <ion-input
        [(ngModel)]="input_value"
        (keyup.enter)="buttonClick(input_value)"
      ></ion-input>
    </ion-item>
  </ion-card>
  <ion-button expand="full" shape="round" (click)="buttonClick(input_value)">
    Ok
  </ion-button>
  <ion-card>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Name: {{ element.name }}<br />
        <br />
        Symbol: {{ element.symbol }}<br />
        <br />
        Atomic Number: {{ element.number }}<br />
        <br />
        Atomic Mass: {{ element.atomic_mass}}<br />
        <br />
        Density: {{ element.density }}<br />
        <br />
        Shells: {{ element.shells }}<br />
        <br />
        Electron Configuration: {{ element.electron_configuration }}
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
