<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Search Element</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card>
		<ion-item>
			<ion-label position="floating">Name | Symbol | Number</ion-label>
			<ion-input [(ngModel)]="input_value" (keyup.enter)="buttonClick(input_value)"></ion-input>
		</ion-item>
	</ion-card>
	<ion-button expand="full" shape="round" (click)="buttonClick(input_value)"> Ok </ion-button>
	<ion-card>
		<ion-item>
			<ion-label class="ion-text-wrap">
				Name: {{ element.name }}<br>
				<br>
Symbol: {{ element.symbol }}<br>
				<br>
Atomic Number: {{ element.number }}<br>
				<br>
Atomic Mass: {{ element.atomic_mass }}<br>
				<br>
Density: {{ element.density }}<br>
				<br>
Summary: {{ element.summary}}<br>
				<br>
Category: {{ element.category }}<br>
				<br>
Phase: {{ element.phase }}<br>
				<br>
Appearance: {{ element.appearance }}<br>
				<br>
Discovered By: {{ element.discovered_by }}<br>
				<br>
Melt: {{ element.melt }}<br>
				<br>
Boil: {{ element.boil }}<br>
				<br>
Xpos: {{ element.xpos }}<br>
				<br>
Ypos: {{ element.ypos }}
      </ion-label>
		</ion-item>
	</ion-card>
</ion-content>